.Whatdrivesus{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
}
.whatdrivecontent{
    /* background: linear-gradient(136deg , #56a8d0 ,#00b7d5 , #089ee8); */
    background: #089ee8;
    padding: 2.5rem 2rem;
    text-align: center;
}
/* 
.whatdrivecontent h1{
    color: #0FBED8;
} */

.wds{
    width: 75vw;
    margin: 2rem auto;
}
.w-card-holder{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    align-items: center;
    justify-content: space-evenly;
}
.custom-shape-divider-top-1649615606 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.custom-shape-divider-top-1649615606 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 220px;
}

.custom-shape-divider-top-1649615606 .shape-fill {
    fill: #089ee8;

}

.w-card{
    background-color: #0FBED8;
    flex-basis: 300px;
    flex-grow: 0.25;
    text-align: center;
    border-radius: 20px;
    padding: 1rem 0.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.w-reason{
    font-weight: 800;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.w-card-head{
    font-size: 5rem;
    background-color: aliceblue;
    color: blueviolet;
    position: absolute;
    top: -60px;
    height:100px;
    width: 100px;
    border-radius: 50%;
}
/* .zigzag::after {
    position: absolute;
    transform: RotateX(180deg);
    transform-origin: center;
    top: -15px;
    background-repeat: repeat-x;
    width: 100%;
    height: 15px;
    background-image: linear-gradient(45deg, #1de0ef 50%, transparent 50%),
                linear-gradient(-45deg,#1de0ef 50%, transparent 50%);
    background-size: 30px 30px;
    content: '';
  } */