.Findnext{
    width: 100vw;
    font-family: 'Poppins', sans-serif;
}
.levels{
    text-align: center;
    font-weight: 600;
    font-size: 2.5em;
    margin-top: 1.3rem;
    margin-bottom: 2em;
}

.project-page-head{
    text-decoration: underline;
    text-align: center;
    font-size: 3.5em;
}