.Portfolio{
    width: 100vw;
    font-family: 'Roboto', sans-serif;
    font-size: 1.16rem;
    display: flex;
    /* background: linear-gradient(-43deg , #14C9CB ,#0FBED8 , #08B3E5); */
    background: linear-gradient(136deg , #56a8d0 ,#00b7d5 , #089ee8);
    flex-wrap: wrap;
}

.p-left {
    flex-basis: 350px;
    flex-grow: 0.45;
    display: flex;
    flex-direction: column;
    gap: 1.3rem 0;
    color: white;
    padding: 10vw 2vw ;
}

.p-left-head{
    font-size: 4rem;
    font-weight: 900
}

.p-right{
    display: flex;
    justify-content: center;
    flex-basis: 500px;
    flex-grow: 1;
    gap: 20px;
    align-items: center;
    padding: 4rem 2rem ;
    flex-wrap: wrap;
}

.p-boxes{
    height: 150px;
    width: 30%;
    background: rgb(170, 170, 170);
}

.right-icon{
    font-size: 2rem;
    margin: 16px;
}
