.Ourreach{
    font-family: 'Poppins';
    text-align: center;
    margin: 2.7vh 0;
}
.Ourreach-head{
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 80px;
  color: #089ee8;
}

.reach-holder{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 3vh 0;
}

.reaches{
    flex-basis: 235px;
    height: 100px;
    flex-grow: 0.1;
    margin: 2vh 2vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.4rem;
    border-radius: 15px;
    background: linear-gradient(136deg , #56a8d0 ,#00b7d5 , #089ee8);
}

.reaches img{
    width: 30%;
    height: 70%;
}