.Mentors{
    font-family: 'Poppins';
    /* background: #1978A5B2; */
    /* background: linear-gradient(45deg ,#22E4AC 45% ,#0FBED8 10% ,#1BD78B 45%); */
    background: linear-gradient(136deg , #56a8d0 ,#00b7d5 , #089ee8);
    /* background:linear-gradient(to Bottom , #2AF59B ,#22E4AC ,#1BD78B #14C9CB ,#0FBED8 , #08B3E5,#089ee8,#00dbff); */
    width:100vw;
    margin: 4rem 0;
    padding: 2.5rem 0;
}

.Ment-wrapper{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.ment-prog-head{
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
}

.mento-paragraph p{
    width: 80vw;
    text-align: center;
    margin:2rem auto;
}